@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
  font-family: 'VT323', monospace;
}

* {
 font-family: VT323;
}

body {
	 position: absolute;
	 top: -20px;
	 left: -20px;
	 right: -40px;
	 bottom: -40px;
	 width: auto;
	 height: auto;
	 background-image: url(https://media1.tenor.com/images/e99b118964bff883410d323758bc8961/tenor.gif?itemid=5159477);
	 background-repeat: no-repeat;
	 background-size: cover;
}

.title {
  padding-top: 40px;
  font-size: 200px;
  text-align: center;
  color: red;
}

.generic {
  font-size: 40px;
  text-align: center;
  color: #fff;
}
